[user]
	name = John W. Long
	email = john@32pixels.co
[core]
  editor = vim --nofork
  legacyheaders = false
	excludesfile = ~/.gitignore
	ignorecase = false
[push]
  default = tracking
[pull]
	rebase = true
[merge]
  summary = true
  tool = opendiff
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[repack]
  usedeltabaseoffset = true
[apply]
  whitespace = nowarn
[github]
  user = jlong
[svn]
  authorsfile = ~/.gitusers
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
[alias]
  aa = !git add -u && git add . && git status
  st = status
  br = branch
  ci = commit
  cia = commit -a
  co = checkout
  df = diff
  lg = log
  up = pull
  vim = "!f() { git st -s | awk '{ print $2 }' | xargs vi -p; }; f"
  changelog = log --no-merges --date=short --pretty=format:'%Cgreen%cd%Creset %Cred%h%Creset -%C(yellow)%d%Creset %cN: %s'
  mine = log --author=john
  delete-branch = "!f() { git branch -d $1 && git push origin :$1; }; f"
  ls = "!f() { if [ \"$(uname)\" = Darwin ]; then ls -G \"$@\"; else ls --color=auto \"$@\"; fi; }; f"
  push-up = "!f() { branch=$(git st | head -1 | awk '{ print $3 }'); git push --set-upstream origin $branch; }; f"
  cls = !clear
  clear = !clear
  hub = !hub
  pull-request = !hub pull-request
  git = !git
[pager]
	branch = false
	diff = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/jlong/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[include]
	path = ~/.gitconfig.local
