.DS_Store
.tm_last_run_ruby
webrat-*.html
rerun.txt
public/tmp/*
*.tmproj
log/*
.sass-cache
db/*.sqlite3
.*.swp
nbproject
.netrwhist
tags

.bundle

*~.nib
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata

.vim/bundle/*
.vim/plugged/*
.vim/.undo/*

.config/zed/conversations/*
.config/zed/prompts/*

.config/raycast/extensions/*

.config/coc/extensions/node_modules/*

**/.claude/settings.local.json
